.tree {
    width: 100%;
    height: auto;
    text-align: center;
}
.tree ul {
    padding-top: 20px;
    position: relative;
    transition: .5s;
}
.tree li {
    display: inline-table;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 10px;
    transition: .5s;
}
.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 51%;
    height: 10px;
}
.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}
.tree li:only-child {
    padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}
.tree_card {
    width: 200px;
    height: 180px;
    border: 1px solid #ccc;
    display: inline-grid;
    border-radius: 5px;
    text-align: start;
    padding-left: 3px;
}
.tree li a {
    text-decoration-line: none;
    transition: .5s;
}
.tree li a img {
    width: 85px;
    height: 85px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px !important;
    border-radius: 4px;
}
.tree li a p {
    color: #414040;
    padding-top: 100px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}
/*Hover-Section*/
.tree li a:hover, .tree li a:hover i, .tree li a:hover .tree li a:hover+ul li a {
    background: rgba(200, 228, 248, 0.56);
    color: #000;
}
.tree li a:hover+ul li::after, .tree li a:hover+ul li::before, .tree li a:hover+ul::before, .tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}
